{% extends 'base.html' %}

{% block title %}Addresses{% endblock %}

{% block content %}

<h1 class="h3">Addresses</h1>

 {% if address_list %}

    <ul class="list-group">
      {% for address in address_list %}
        <li class="list-group-item">
          <a class="text-reset" href="{{ address.get_absolute_url }}">{{ address.name }}</a>
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <p>There are no address to display.</p>

  {% endif %}

    <p class="pt-2">
      <a href="{% url 'delivery:home' %}" role="button" class="btn btn-secondary w-100">Cancel</a>
    </p>

{% endblock content %}